<!-- Start Footer Area -->
<footer class="footer-area {{ location == '/' ? '' : 'uk-dark' }} uk-footer">
	<div class="uk-container">
		<div class="uk-grid uk-grid-match uk-grid-medium uk-child-width-1-4@m uk-child-width-1-2@s">
			<div class="item">
				<div class="single-footer-widget">
					<div class="logo logo-white">
						<a routerLink="/">
							<img src="assets/img/imdeh/logo-white.png" alt="logo" />
						</a>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="single-footer-widget">
					<h3>Guadalajara</h3>
					<div class="bar"></div>

					<div class="location">
						<p>
							Av. Ignacio L. Vallarta 1286 <br />
							Col Americana, Americana <br />
							44160 Guadalajara, Jal.
						</p>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="single-footer-widget">
					<h3>CDMX</h3>
					<div class="bar"></div>

					<div class="location">
						<p>
							Canacintra <br />
							Calle Watteau 70 (ultimo piso) <br />
							Santa María Nonoalco <br />
							03700 Benito Juárez, CDMX <br />
						</p>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="single-footer-widget">
					<h3>Contacto</h3>
					<div class="bar"></div>

					<ul class="contact-info">
						<li>
							<a href="mailto:hola@imdeh.com.mx">hola@imdeh.com.mx</a>
						</li>
						<li>
							<a href="tel:+523315275190">GDL: +52 33152 75190</a>
						</li>
						<li>
							<a href="tel:+523315275190">CDMX: +52 33152 75190</a>
						</li>
					</ul>
					<ul class="social">
						<li>
							<a href="https://www.facebook.com/IMDEHinstitutomexicano" target="_blank"><i class="flaticon-logo"></i></a>
						</li>
						<li>
							<a href="https://www.instagram.com/imdehdesarrollohumano/" target="_blank"><i class="flaticon-logo-1"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="copyright-area">
			<div class="uk-grid uk-grid-match uk-grid-medium uk-child-width-1-2@m uk-child-width-1-2@s">
				<div class="item">
					<p>© IMDEH - Instituto Mexicano de Desarrollo Humano - 2020</p>
				</div>

				<div class="item">
					<ul>
						<li><a routerLink="/politica-privacidad">Política de Privacidad</a></li>
					</ul>
				</div>
			</div>
			<div class="go-top"><i class="flaticon-chevron"></i></div>
		</div>
	</div>

	<div class="br-line"></div>
	<div class="footer-shape1">
		<img src="assets/img/footer-shape1.png" alt="shape" />
	</div>
	<div class="footer-shape2">
		<img src="assets/img/footer-shape2.png" alt="shape" />
	</div>
</footer>
<!-- End Footer Area -->
