<section class="project-details-area uk-project-details uk-section">
	<div class="uk-container">
		<div class="uk-grid uk-flex project-details">
			<div class="project-details-img uk-width-expand">
				<img src="assets/img/imdeh/erick_chavez_004.jpg" alt="image" />
			</div>

			<div class="item uk-width-1-5">
				<div class="project-details-info">
					<ul>
						<li><Span>Nombre:</Span> Erick Chávez</li>
						<li><Span>Título:</Span> Director General</li>
						<li>
							<Span>Social Media:</Span>

							<ul>
								<li>
									<a href="#"><i class="flaticon-logo"></i></a>
								</li>
								<li>
									<a href="#"><i class="flaticon-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="flaticon-logo-1"></i></a>
								</li>
								<li>
									<a href="#"><i class="flaticon-linkedin"></i></a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="project-details-desc">
			<h3>Biografía</h3>
			<p>
				Erick Gamaliel Chávez es un entrenador personal de vida que trabaja desde la filosofía del Coaching Ontológico
				Transformacional. Nació en el Estado de México el día 30 de Mayo de 1987. Ha entrenado a más de 8,000 personas entre México
				y Argentina, es socio fundador del Instituto Mexicano de Desarrollo Humano (IMDEH) y Human Development. En su adolescencia,
				fue jugador profesional en la FEMEXFUT con distintos equipos durante seis años, donde formó un carácter de liderazgo y
				disciplina; pero no es sino hasta que tiene su primer acercamiento con la visión del coaching cuando distingue que su
				verdadero propósito como profesionista es servir a los demás. Esto le valió renunciar a su carrera como futbolista a los 20
				años y comenzar su formación como Coach Transformacional.
			</p>

			<p>
				Erick estudió Coaching Ontológico en la Universidad de Ciencias Sociales y Empresariales (UCES) en Buenos Aires, Argentina.
				Su inquietud por conocer el universo del factor humano lo llevó a especializarse en Comunicación Facial, Lectura del
				Lenguaje Corporal y Detección de Mentiras en instituciones como Psicografología Com y NoVerbal Consulting Group. Tiene
				estudios en Análisis Transaccional, Gestalt y Programación Neurolingüística, herramientas que contribuyen, dentro de los
				entrenamientos grupales e individuales, a generar la versión máxima de sus coachees.
			</p>
			<blockquote class="blockquote">
				<p>
					Actualmente es Empresario en la Construcción, Director y Entrenador del proceso transformaciones de IMDEH, S.C., tiene
					alianzas con empresas Internacionales de coaching como ACCIONAR SUR (Argentina) y forma parte de la Asociación de The
					Nossovitch Group, reafirmando su compromiso con la transformación en el mundo de una manera responsable, íntegra y
					ética, como lo declaró en sus inicios como entrenador en el año 2009.
				</p>
			</blockquote>
			<p>
				En sus tiempos libres disfruta de la compañía de familia y amigos, cantar es una de sus pasiones ya que le permite ser
				auténtico.
			</p>
		</div>
	</div>
</section>
