<section class="project-details-area uk-project-details uk-section">
	<div class="uk-container">
		<div class="uk-grid uk-flex project-details">
			<div class="project-details-img uk-width-expand">
				<img src="assets/img/imdeh/brandon.png" alt="image" />
			</div>

			<div class="item uk-width-1-5">
				<div class="project-details-info">
					<ul>
						<li><Span>Nombre:</Span> Brandon Cid</li>
						<li><Span>Título:</Span> Entrenador</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="project-details-desc">
			<h3>Biografía</h3>
			<p>
				Brandon es un joven emprendedor experto en imagen publica por el Colegio de Imagen Pública en la Ciudad de México. la Imagen
				Pública la vio como un área de oportunidad en las personas, ya que puede potencializar el mensaje que las personas quieran
				comunicar con el solo hecho de saber cuál es su tipo de cuerpo, estilo, colores, etc., y con estas herramientas tener un
				mayor impacto en su esencia. También tiene conocimientos como asesor financiero en la bolsa de valores.
			</p>

			<p>
				Brandon Omar Cid Ovalle nació el 4 de Agosto de 1996, en Ciudad Nezahualcóyotl, Estado de México, sus padres son Felipe Cid
				y Norma Ovalle. Apasionado por practicar artes marciales, natación y futbol soccer. A la edad de 18 años se involucró en la
				empresa familiar enfocada la construcción y distribución de cubiertas para cocina, así como en la venta y distribución del
				producto, esta fue su primer acercamiento a la vida empresarial.
			</p>
			<blockquote class="blockquote">
				<p>
					Actualmente está certificado como Coach Ontológico Transformacional ante la SEP, continúa preparándose en el desarrollo
					humano, como Coach da sesiones 1 a 1 para el liderazgo y desarrollo de empresarios vinculando sus conocimientos de
					Imagen Pública y Coaching Ontológico. .
				</p>
			</blockquote>
			<p>
				Para Brandon ser entrenador significa estar dispuesto a todo, los grandes cambios empiezan con grandes declaraciones, el
				Coaching ha sido un parteaguas en su vida marcando un antes y un después. Su objetivo es sumar a más personas a que
				trasciendan en su vida con logros extraordinarios.
			</p>
		</div>
	</div>
</section>
