<div class="services-details-desc">
	<h3>Renace</h3>
	<p>
		El Entrenamiento RENACE inicia donde el entrenamiento descubre llegó a su fin. Mientras que el énfasis en el taller descubre está en
		el auto-descubrimiento y conocimiento interpersonal, el entrenamiento RENACE se centra en la toma de acción y resultados, en donde
		los participantes aplican lo que aprendieron en el entrenamiento descubre para reajustar nuevos comportamientos, desarticulando
		viejos hábitos que les impiden abrirse a nuevas posibilidades de acción.
	</p>

	<app-carousel *ngIf="galleryImages" [images]="galleryImages"></app-carousel>

	<p>
		De acuerdo con la premisa de que el factor más importante para el éxito personal, no es el pasado sino el “aquí y ahora”, el taller
		RENACE de proporciona a los participantes las herramientas para diseñar un futuro totalmente impregnado de libertad y calidad de
		vida, aprovechando la capacidad de expresión de nuestros talentos personales para crear un futuro que no sea limitado y determinado
		por nuestros condicionamientos pasados.
	</p>

	<blockquote class="blockquote">
		<p>
			En este nivel de entrenamiento usted será capaz de crear a la persona que siempre ha querido llegar a SER, pero que hasta ahora
			lo ha considerado como un imposible. Para ello será necesario que contacte con su YO esencial, para que active una reserva
			interna de energía que le permitirá recuperar la vitalidad perdida para vivir al 100%.
		</p>
		<a class="uk-button uk-button-default" href="#request-information" uk-toggle>SOLICITAR INFORMES</a>
	</blockquote>

	<p>
		La vida funciona cuando elegimos vivir como seres responsables, y el taller RENACE lo “empodera” para hacer que la vida sea su
		propia creación y que usted sea la causa, y no el efecto de las circunstancias. Al vivir de manera responsable en nuestra vida
		estamos en la posición favorable para crear los resultados que deseamos.
	</p>

	<div class="our-work-benefits">
		<ul class="accordion">
			<li class="accordion-item">
				<a class="accordion-title active" href="javascript:void(0)">
					<i class="flaticon-plus"></i>
					Cada cuando es el entrenamiento?
				</a>

				<p class="accordion-content show">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua. Quis ipsum suspendisse ultrices gravida.
				</p>
			</li>

			<li class="accordion-item">
				<a class="accordion-title" href="javascript:void(0)">
					<i class="flaticon-plus"></i>
					Qué requisitos debo cumplir para tomarlo?
				</a>

				<p class="accordion-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua. Quis ipsum suspendisse ultrices gravida.
				</p>
			</li>

			<li class="accordion-item">
				<a class="accordion-title" href="javascript:void(0)">
					<i class="flaticon-plus"></i>
					Lo pueden tomar menores de edad?
				</a>

				<p class="accordion-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua. Quis ipsum suspendisse ultrices gravida.
				</p>
			</li>

			<li class="accordion-item">
				<a class="accordion-title" href="javascript:void(0)">
					<i class="flaticon-plus"></i>
					Qué horarios maneja?
				</a>

				<p class="accordion-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua. Quis ipsum suspendisse ultrices gravida.
				</p>
			</li>
		</ul>

		<a class="uk-button uk-button-default" href="https://forms.gle/B1rrMtjiDs7nUMhQ6" target="_blank">REGISTRARME AHORA</a>
	</div>
</div>

<div id="request-information" uk-modal>
	<div class="uk-modal-dialog">
		<button class="uk-modal-close-default" type="button" uk-close></button>
		<div class="uk-modal-header">
			<h2 class="uk-modal-title">Solicitar Informes</h2>
		</div>
		<div class="uk-modal-body">
			<div class="item">
				<app-request-modal course="Renace" #requestModal></app-request-modal>

				<div class="uk-alert uk-alert-success message-sent">
					Gracias por contactarnos, tu mensaje ha sido enviado con éxito. Uno de nuestros coordinadores se comunicara contigo a la
					brevedad.
				</div>
			</div>
		</div>
		<div class="uk-modal-footer uk-text-right">
			<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
			<button class="uk-button uk-button-primary" type="button" (click)="submitForm()" [disabled]="formInvalid">Enviar</button>
		</div>
	</div>
</div>
