<section class="project-details-area uk-project-details uk-section">
	<div class="uk-container">
		<div class="uk-grid uk-flex project-details">
			<div class="project-details-img uk-width-expand">
				<img src="assets/img/imdeh/diana.png" alt="image" />
			</div>

			<div class="item uk-width-1-5">
				<div class="project-details-info">
					<ul>
						<li><Span>Nombre:</Span> Diana Chávez</li>
						<li><Span>Título:</Span> Entrenadora</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="project-details-desc">
			<h3>Biografía</h3>
			<p>
				Diana Esthefany Chávez Ramírez, nació el 20 de septiembre de 1984 en el Estado de México, sus padres Margarita Ramírez y
				Pedro Chávez. Casada dese hace 18 años con Ali García Lino, tiene 4 hijos: Ali, Josep, Braulio y Erick.
			</p>

			<p>
				Diana es Lic. en Psicología, también se preparó como Técnico en Urgencias Médicas de la Cruz Roja Mexicana en la Cuidad de
				México, ocupo el cargo de Gerente General en la empresa A.D.N. Arte Bizantino durante 2 años
			</p>
			<p>
				El desarrollo humano es algo que le apasiona, el observar la transformación en las personas es algo impactante. Generar
				conciencia y observar los cambios de pensamiento y conducta con quienes ha trabajado lo considera sumamente enriquecedor.
			</p>
			<p>
				Después de eso su rumbo cambió y decidió encaminarlo al coaching transformacional certificándose como Coach Ontológico ante
				la SEP en el Instituto IMDEH, hay tres eventos que marcaron su vida:
			</p>
			<ol>
				<li>La muerte de su sobrino Elias a los 3 meses de edad.</li>
				<li>Las convulsiones de su hijo Josep causadas por una fuerte infección en la garganta.</li>
				<li>La muerte de su Madre</li>
			</ol>
			<blockquote class="blockquote">
				<p>
					Hoy en día Diana como Coach Ontológico considera que su misión está enfocada es crear una diferencia en las personas. Su
					carrera y experiencia son elementos importantes, necesarios para poder generar grandes cambios en la vida de las
					personas, así como el Coaching lo hizo con ella y su familia. Esta agradecida con Dios ya que a pesar de que el Coaching
					conlleva una gran responsabilidad le apasiona e inspira a seguir preparándose..
				</p>
			</blockquote>
			<p>
				Actualmente da sesiones a parejas y se siente satisfecha con los resultados obtenidos, Diana es una fiel creyente de que
				todo se puede, pero para obtener el resultado la meta debe estar clara. Si no sabes ¿qué quieres? o ¿hacia dónde vas?
				Entonces, ¿Para qué vas?
			</p>
		</div>
	</div>
</section>
