<div class="services-details-desc">
	<h3>Alta Dirección</h3>
	<p>
		Busca crear y sostener la conciencia social del empresario, esta es nuestra característica distintiva. El objetivo de Alta Dirección
		es muy amplio, no nada más por el mejoramiento personal del empresario, la transformación de la empresa y del medio empresarial en
		el que se encuentra, sino que debe contribuir a la edificación de una sociedad más justa, humana y fraterna. Buscando hacer del
		empresario un factor positivo en la sociedad.
	</p>

	<app-carousel *ngIf="galleryImages" [images]="galleryImages"></app-carousel>

	<blockquote class="blockquote">
		<p>
			Las actividades de Alta Dirección están enfocadas en la formación y orientación a la transformación, es la esencia del programa
			en sí.
		</p>
		<a class="uk-button uk-button-default" href="#request-information" uk-toggle>SOLICITAR INFORMES</a>
	</blockquote>

	<p>
		Alta Dirección busca que haya empresarios de otro tipo, está enfocada en generar una causa empresarial, donde nuestro gremio aparte
		de ser altamente productivo tenga un sentido humano profundo.
	</p>
	<p>
		El propósito de Alta Dirección es que el empresario reúna todas estas cualidades, que se ocupe de ganar dinero y ser eficiente,
		desarrollar al mismo tiempo esta conciencia social que cada día se están metiendo más en la empresa. Buscando generar empresarios
		con organizaciones dinámicas, creativas, modernas. Alta Dirección contribuye a construir ese tipo de empresarios altamente
		productivos, socialmente responsables y plenamente humanos.
	</p>
	<p>Generando así ciudadanos de otro tipo valiosos de que contribuyen al desarrollo de este nuestro México!!!</p>

	<div class="our-work-benefits">
		<ul class="accordion">
			<li class="accordion-item">
				<a class="accordion-title active" href="javascript:void(0)">
					<i class="flaticon-plus"></i>
					Cada cuando es el entrenamiento?
				</a>

				<p class="accordion-content show">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua. Quis ipsum suspendisse ultrices gravida.
				</p>
			</li>

			<li class="accordion-item">
				<a class="accordion-title" href="javascript:void(0)">
					<i class="flaticon-plus"></i>
					Qué requisitos debo cumplir para tomarlo?
				</a>

				<p class="accordion-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua. Quis ipsum suspendisse ultrices gravida.
				</p>
			</li>

			<li class="accordion-item">
				<a class="accordion-title" href="javascript:void(0)">
					<i class="flaticon-plus"></i>
					Lo pueden tomar menores de edad?
				</a>

				<p class="accordion-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua. Quis ipsum suspendisse ultrices gravida.
				</p>
			</li>

			<li class="accordion-item">
				<a class="accordion-title" href="javascript:void(0)">
					<i class="flaticon-plus"></i>
					Qué horarios maneja?
				</a>

				<p class="accordion-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua. Quis ipsum suspendisse ultrices gravida.
				</p>
			</li>
		</ul>

		<a class="uk-button uk-button-default" href="https://forms.gle/B1rrMtjiDs7nUMhQ6" target="_blank">REGISTRARME AHORA</a>
	</div>
</div>

<div id="request-information" uk-modal>
	<div class="uk-modal-dialog">
		<button class="uk-modal-close-default" type="button" uk-close></button>
		<div class="uk-modal-header">
			<h2 class="uk-modal-title">Solicitar Informes</h2>
		</div>
		<div class="uk-modal-body">
			<div class="item">
				<app-request-modal course="Alta Dirección" #requestModal></app-request-modal>

				<div class="uk-alert uk-alert-success message-sent">
					Gracias por contactarnos, tu mensaje ha sido enviado con éxito. Uno de nuestros coordinadores se comunicara contigo a la
					brevedad.
				</div>
			</div>
		</div>
		<div class="uk-modal-footer uk-text-right">
			<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
			<button class="uk-button uk-button-primary" type="button" (click)="submitForm()" [disabled]="formInvalid">Enviar</button>
		</div>
	</div>
</div>
