<section class="project-details-area uk-project-details uk-section">
	<div class="uk-container">
		<div class="uk-grid uk-flex project-details">
			<div class="project-details-img uk-width-expand">
				<img src="assets/img/imdeh/simon.jpg" alt="image" />
			</div>

			<div class="item uk-width-1-5">
				<div class="project-details-info">
					<ul>
						<li><Span>Nombre:</Span> Simón Cervantes</li>
						<li><Span>Título:</Span> Entrenador</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="project-details-desc">
			<h3>Biografía</h3>
			<p>
				Empresario cofundador de SERPTAC, empresa dedicada a la planeación financiera en la creación, crecimiento y protección del
				patrimonio. Ha logrado la negociación para la distribución de productos con alguna de las mejores compañías financieras en
				México con experiencia en la dirección empresarial en los últimos 7 años.
			</p>

			<p>
				Simón Cervantes Neri nació el 30 de Noviembre del 1980 en la Ciudad de Guadalajara Jalisco, casado con Carolina desde hace
				22 años, padre de 4 hijos, Luis Omar, Diego, Santiago y Leonardo, Simón es Lic. en Administración de Empresas, cuenta con
				diversos cursos gerenciales que tomo en el Tecnológico de Monterrey. En su juventud fue fuerzas básicas del Club Chivas,
				posteriormente en el Club Deportivo Cruz Azul, su carrera deportiva le permitió adquirir un espíritu competitivo,
				disciplinado y de constante esfuerzo.
			</p>
			<p>
				Como Director y Empresario ha logrado una trayectoria de constante crecimiento anual en utilidades y crecimiento personal.
				Su más reciente logro como distribuidor Elite de Metlife a finales del 2019 fue destacarse como una promotora de mayor
				desarrollo en sus asesores con resultados en el último trimestre.
			</p>
			<blockquote class="blockquote">
				<p>
					En el 2019 incursiona en el desarrollo de conciencia a través del Coaching Ontológico creando tal impacto en él que
					actualmente se prepara como Coach Ontológico Transformacional, encontrando un crecimiento personal y profesional
					exponencial con referencia a los anteriores años de vida.
				</p>
			</blockquote>
			<p>
				Viviendo una vida en equilibrio y éxito en cada área de vida, en constante crecimiento y descubrimiento del ser con plenitud
				y felicidad, con proyectos actuales, objetivos claros y definidos.
			</p>
			<p>
				Padre de familia desde hace 22 años, compartiendo vida con Carolina, una hermosa esposa y cuatro hijos, hijo mayor cinco
				hermanos hombres respondiendo a los padres Enrique Cervantes de 64 años y María Luisa Neri de 63 años
			</p>
		</div>
	</div>
</section>
