<div class="services-details-desc">
	<h3>Campamento Antorcha</h3>
	<p>
		La adolescencia suele ser una etapa bastante compleja para cualquier ser humano. Los cambios físicos y hormonales experimentados por
		cualquier persona en esta etapa, hacen que muchas veces los jóvenes se sientan inseguros con su apariencia física, capacidades,
		conocimientos, habilidades, etc. Esto debido a que se encuentran en un proceso de transición y duelo, en el que generan algunas de
		las características más importantes de su personalidad, pues dejan de ser niños, para comenzar su descubrimiento de la vida adulta.
	</p>
	<app-carousel *ngIf="galleryImages" [images]="galleryImages"></app-carousel>

	<p>
		Teniendo en cuenta lo anterior, el objetivo del campamento es que los adolescentes pongan en práctica valores como el respeto,
		compromiso, responsabilidad, honestidad, etc. Por medio de actividades que refuerzan la confianza, seguridad y autoestima en sí
		mismos, utilizando dinámicas y juegos para promover su desarrollo integral a nivel intra e inter personal, haciendo que el
		adolescente se perciba capaz de hacer cosas que antes no sabía que podía hacer.
	</p>

	<p>
		Durante el proceso los adolescentes trabajan tomando papeles de liderazgo en actividades diseñadas con el fin de que estos sepan
		manejar conflictos y tomar decisiones, teniendo como uno de los pilares más importantes el de “SI UNO PIERDE PERDEMOS TODOS” puesto
		que se pretende que a lo largo del fin de semana sean conscientes de que toda acción genera una consecuencia y que esta, conlleva un
		resultado cuyo impacto (positivo o negativo) no se da solo de forma individual, si no a nivel social.
	</p>

	<h4>En consecuencia, algunos de los BENEFICIOS SON:</h4>
	<ul class="services-features-list">
		<li><i class="flaticon-tick"></i>Motivar a los adolescentes en los compromisos de su día a día.</li>
		<li><i class="flaticon-tick"></i>Promover la comunicación asertiva, efectiva y la integración familiar.</li>
		<li><i class="flaticon-tick"></i>Comprender sus emociones y canalizarlas a un objetivo constructivo.</li>
		<li><i class="flaticon-tick"></i>Mejorar la rección de sagacidad en ingenio ante situaciones de presión y cambio.</li>
	</ul>

	<blockquote class="blockquote">
		<p>
			De ahí que su valor agregado sea que, al tiempo que generan todas estas características y refuerzan algunas de las que ya
			poseían, el joven establezca un contacto con la naturaleza, divirtiéndose sanamente, conviviendo y relacionándose con los demás
			chicos y chicas para establecer lazos fuertes, aprender a ser tolerantes, aceptar la diferencia y empatizar con los demás.
		</p>
		<a class="uk-button uk-button-default" href="#request-information" uk-toggle>SOLICITAR INFORMES</a>
	</blockquote>

	<p>
		Por último, el instituto hace énfasis en lo fundamental de poner atención a esta población en específico, brindándoles experiencias
		que estén diseñadas específicamente para ellos. Generando un espacio en el que se tienen en cuenta sus puntos de vista y contextos;
		otorgándoles las herramientas necesarias para enfrentarse con éxito a las diferentes situaciones y eventos futuros, con lecciones
		esenciales para la vida.
	</p>
</div>

<div id="request-information" uk-modal>
	<div class="uk-modal-dialog">
		<button class="uk-modal-close-default" type="button" uk-close></button>
		<div class="uk-modal-header">
			<h2 class="uk-modal-title">Solicitar Informes</h2>
		</div>
		<div class="uk-modal-body">
			<div class="item">
				<app-request-modal course="Antorcha" #requestModal></app-request-modal>

				<div class="uk-alert uk-alert-success message-sent">
					Gracias por contactarnos, tu mensaje ha sido enviado con éxito. Uno de nuestros coordinadores se comunicara contigo a la
					brevedad.
				</div>
			</div>
		</div>
		<div class="uk-modal-footer uk-text-right">
			<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
			<button class="uk-button uk-button-primary" type="button" (click)="submitForm()" [disabled]="formInvalid">Enviar</button>
		</div>
	</div>
</div>
