<section class="project-details-area uk-project-details uk-section">
	<div class="uk-container">
		<div class="uk-grid uk-flex project-details">
			<div class="project-details-img uk-width-expand">
				<img src="assets/img/imdeh/ulises.png" alt="image" />
			</div>

			<div class="item uk-width-1-5">
				<div class="project-details-info">
					<ul>
						<li><Span>Nombre:</Span> Ulises Chávez</li>
						<li><Span>Título:</Span> Entrenador</li>
						<li>
							<Span>Social Media:</Span>

							<ul>
								<li>
									<a href="#"><i class="flaticon-logo"></i></a>
								</li>
								<li>
									<a href="#"><i class="flaticon-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="flaticon-logo-1"></i></a>
								</li>
								<li>
									<a href="#"><i class="flaticon-linkedin"></i></a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="project-details-desc">
			<h3>Biografía</h3>

			<p>
				Omar Ulises Chávez Ramírez, nació en la Ciudad de México el día 4 de marzo de 1986, sus padres Pedro Chávez y Margarita
				Ramírez, Ulises es padre de Mia Johari Chávez.
				<br />
				Es un Empresario enfocado a la industria minera y de la construcción, socio fundador de la constructora CEC, aquí es donde
				aplica sus conocimientos en Ingeniería Industrial en la primera etapa de su vida profesional, antes de involucrarse con su
				vocación en desarrollo humano y el despertar de conciencia.
			</p>
			<blockquote class="blockquote">
				<p>
					Ulises Chávez es de los que cree que el Coaching te elige, y así de forma inesperada fue que descubrió que el desarrollo
					humano era algo a lo que Él quería dedicarse. Eligió estudiar Psicología, esto lo llevó a formarse en Comunicación
					Facial (medicina china y francesa), Lectura del Lenguaje Corporal y Detección de Mentiras, tiene estudios en Análisis
					Transaccional, Cognitivo Conductual, Gestalt Terapia y Programación Neurolingüística, Terapia Breve Estratégica, es
					miembro de la Unión Social De Empresarios De México (USEM) Diplomado CUFOSO, herramientas que contribuyen, dentro de los
					entrenamientos grupales e individuales.
				</p>
			</blockquote>
			<p>
				Le apasionan los retos y desafíos a nivel personal, es maratonista, también disfruta del waterpolo, atletismo, ciclismo,
				calistenia entre otros. Uno de sus pasatiempos favoritos es viajar y conocer Latinoamérica.
			</p>
			<p>
				Ulises Chávez es un Coach Internacional con diversos entrenamientos en México y Argentina, ha creado distintos
				entrenamientos como QG100, (Entrenamiento Personal Físico y Mental Reprogramando tu Mente). Da sesiones de Coaching 1 a 1,
				Coaching Empresarial y Coaching Deportivo. Es Coach de RENACE y PL en el Instituto Mexicano de Desarrollo Humano en la
				Ciudad de México y Guadalajara.
			</p>
		</div>
	</div>
</section>
