<section class="project-details-area uk-project-details uk-section">
	<div class="uk-container">
		<div class="uk-grid uk-flex project-details">
			<div class="project-details-img uk-width-expand">
				<img src="assets/img/imdeh/arturo.png" alt="image" />
			</div>

			<div class="item uk-width-1-5">
				<div class="project-details-info">
					<ul>
						<li><Span>Nombre:</Span> Arturo Monroy</li>
						<li><Span>Título:</Span> Entrenador</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="project-details-desc">
			<h3>Biografía</h3>
			<p>
				Arturo Monroy Trejo nació el 15 de Diciembre del 1976 en la Ciudad de México, pasó los primeros 9 años de su infancia en el
				Estado de México al lado de su madre Verónica Monroy Trejo, su adolescencia y juventud la pasó al lado de sus abuelos
				paternos Fidel González y María Álvarez, donde aprendió que el trabajo y la disciplina eran el único camino.
			</p>

			<p>
				Se casó a los 21 años con Diana Méndez, y hoy tienen 2 hijas, Samantha y Nicolle, actualmente reside con su familia en el
				Estado de México. Empresario desde hace más de 20 años, tiene empresas de transporte, Bienes raíces y una comercializadora
				en CDMX que atiende restaurantes y hoteles en la Col. Roma y Condesa.
			</p>
			<blockquote class="blockquote">
				<p>
					Arturo eligió dedicar su vida al servicio de las personas, delegando sus empresas y formándose como Coach Ontológico
					Transformacional logrando su certificado ante la SEP por el Instituto en 2019, no obstante, continúa en desarrollo y
					formación sobre el autoconocimiento del ser humano.
				</p>
			</blockquote>
		</div>
	</div>
</section>
