<div class="services-details-desc">
	<h3>Brasas</h3>
	<p>
		Brasas es una técnica de superación personal donde podrás cuestionar y enfrentar tus miedos dando evidencia de lo que parece
		imposible llega a ser alcanzable.
	</p>
	<p>
		Esto se logra a través de actividades que se llevan a cabo en el transcurso de un día. En Brasas se rompen paradigmas y creencias, y
		dar evidencia de que eres creador de tu realidad a través del liderazgo y el poder de tu elección..
	</p>

	<app-carousel *ngIf="galleryImages" [images]="galleryImages"></app-carousel>

	<blockquote class="blockquote">
		<p>
			Brasas es una experiencia retadora, es una experiencia de liderazgo donde puedes quemar tus miedos y caminar sobre ellos a
			través de esta experiencia de caminar sobre brasas encendidas al rojo vivo.
		</p>
		<a class="uk-button uk-button-default" href="#request-information" uk-toggle>SOLICITAR INFORMES</a>
	</blockquote>

	<div class="our-work-benefits">
		<a class="uk-button uk-button-default" href="https://forms.gle/B1rrMtjiDs7nUMhQ6" target="_blank">REGISTRARME AHORA</a>
	</div>
</div>

<div id="request-information" uk-modal>
	<div class="uk-modal-dialog">
		<button class="uk-modal-close-default" type="button" uk-close></button>
		<div class="uk-modal-header">
			<h2 class="uk-modal-title">Solicitar Informes</h2>
		</div>
		<div class="uk-modal-body">
			<div class="item">
				<app-request-modal course="Brasas" #requestModal></app-request-modal>

				<div class="uk-alert uk-alert-success message-sent">
					Gracias por contactarnos, tu mensaje ha sido enviado con éxito. Uno de nuestros coordinadores se comunicara contigo a la
					brevedad.
				</div>
			</div>
		</div>
		<div class="uk-modal-footer uk-text-right">
			<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
			<button class="uk-button uk-button-primary" type="button" (click)="submitForm()" [disabled]="formInvalid">Enviar</button>
		</div>
	</div>
</div>
