<section class="project-details-area uk-project-details uk-section">
	<div class="uk-container">
		<div class="uk-grid uk-flex project-details">
			<div class="project-details-img uk-width-expand">
				<img src="assets/img/imdeh/vanessa.png" alt="image" />
			</div>

			<div class="item uk-width-1-5">
				<div class="project-details-info">
					<ul>
						<li><Span>Nombre:</Span> Vanessa Chávez</li>
						<li><Span>Título:</Span> Entrenadora</li>
						<li>
							<Span>Social Media:</Span>

							<ul>
								<li>
									<a href="#"><i class="flaticon-logo"></i></a>
								</li>
								<li>
									<a href="#"><i class="flaticon-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="flaticon-logo-1"></i></a>
								</li>
								<li>
									<a href="#"><i class="flaticon-linkedin"></i></a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="project-details-desc">
			<h3>Biografía</h3>
			<p>
				¡Hola! Mi nombre es Vanessa Chávez, y esta soy yo. Tengo 43 años y soy licenciada en derecho. Nací en el estado de México en
				una familia orgullosamente grande, conformada por mi padre que se llama pedro Chávez y mi madre, Margarita Ramírez; soy la
				mayor de 5 hermanos Jonathan, Diana, Ulises, Erick y Miriam.
			</p>
			<p>
				Tuve una infancia en la que con frecuencia tuve que ser cabeza de familia, comencé mi vida laboral a los 14 años como Edecán
				y hosts.
			</p>

			<p>
				Me casé a los 21 años con mi amor y compañero de Vida Sergio Alvarado y hoy por hoy llevamos juntos 23 años. Soy una mujer
				que no se detiene y siempre busca su crecimiento personal, espiritual e intelectual. Es por eso que decidí continuar con mi
				desarrollo académico y terminar la preparatoria, para así poder continuar con la licenciatura en la generación 2006 - 2010.
				Hice mi servicio social en el tribunal fiscal de lo contencioso administrativo, me ofrecieron una plaza que rechacé por
				elección propia puesto que tuve la oportunidad de ser mamá nuevamente y quería disfrutar la maternidad.
			</p>
			<p>Hay 3 eventos que han marcado mi Vida:</p>
			<ol>
				<li>La muerte de mi primer hijo</li>
				<li>La enfermedad crónica de mi hija Adriana cuando Ella tenía 2 años</li>
				<li>La muerte de mi madre hace 3 años</li>
			</ol>
			<blockquote class="blockquote">
				<p>
					Estas situaciones dejaron en mí mucho aprendizaje, que hoy pongo al servicio de toda la gente que confía en mí y me
					permite trabajar para ellos como entrenadora y coach transformacional certificada ante la SEP por el instituto,
					capacitándome desde 2017 hasta 2019.
				</p>
			</blockquote>
			<p>
				Actualmente imparto segundo y 3er fin de semana, así como campamento de adolescentes. Mi misión es dejar un legado en mis
				hijos y con los demás, saber que estoy haciendo una diferencia en la sociedad a través de mi trabajo de transformación,
				teniendo la oportunidad de servirte y servirles a quienes quieren una diferencia en su vida, porque creo firmemente que
				ganar es ganar.
			</p>
		</div>
	</div>
</section>
