<section class="project-details-area uk-project-details uk-section">
	<div class="uk-container">
		<div class="uk-grid uk-flex project-details">
			<div class="project-details-img uk-width-expand">
				<img src="assets/img/imdeh/cristina.png" alt="image" />
			</div>

			<div class="item uk-width-1-5">
				<div class="project-details-info">
					<ul>
						<li><Span>Nombre:</Span> Cristina Yáñez</li>
						<li><Span>Título:</Span> Directora / Entrenadora</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="project-details-desc">
			<h3>Biografía</h3>
			<p>
				María Cristina Yáñez Ehlinger nace el 22 de Diciembre de 1983 en la Ciudad de México, realizo sus estudios en la Universidad
				Nacional Autónoma de México, ocho semestres en Ingeniería Química, Licenciada en Pedagogía y Maestra en Administración de
				Negocios, esta última en la Universidad Latinoamericana, con el dominio del francés y español, inicio su vida profesional
				como docente de educación media superior en asignaturas como francés, matemáticas, física y química.
			</p>

			<p>
				Años más tarde se especializo en capacitación laboral e incursiona como head-hunter en Banorte-Ixe, para más tarde
				desempeñarse en Grupo Financiero Principal como Coordinadora Nacional de reclutamiento y selección. Cinco años después
				ingresa a Grupo AMPM como Jefe de Recursos Humanos, durante este periodo recibió capacitación como brigadista, en lean six
				sigma, 5 s, certificación ante CONSAR, lavado de dinero, entre otros.
			</p>
			<p>
				En el año 2017 cambia de residencia a la Ciudad de Guadalajara, Jalisco al ser invitada a ser Gerente de Recursos Humanos de
				Basurama, donde participo en la apertura de empresas como Tetrapak, Femsa y Flextronics en el área de reciclaje industrial.
				Después de un año y medio es invitada como Gerente de Recursos Humanos en Smith Power México, durante este tiempo participo
				en diferentes entrenamientos de desarrollo personal y el estudio de la consciencia humana, a la par estudia una
				certificación con validez ante la Secretaria de Educación Pública como Coach Ontológico.
			</p>
			<blockquote class="blockquote">
				<p>
					En el 2019 es invitada a participar en la apertura de la sucursal de Guadalajara del Instituto Mexicano de Desarrollo
					Humano como Directora General del mismo, en ese momento decide dedicar por completo su vida al servicio de la gente y
					las empresas, dando apertura a proyectos de entrenamiento para personas y para empresas en ámbitos tanto culturales,
					humanos, profesionales, personales como de alcance de objetivos en ventas.
				</p>
			</blockquote>
			<p>
				Actualmente se desempeña como entrenadora certificada de entrenamientos presenciales y en línea, así como Directora de las
				sucursales de Guadalajara y Ciudad de México del IMDEH (Instituto Mexicano de Desarrollo Humano).
			</p>
		</div>
	</div>
</section>
