<form #registerForm id="contactForm" [formGroup]="submitForm">
	<div>
		<h3>Datos personales</h3>
		<p class="payment-info">Para registrarte en Descubre, es importante llenes la siguiente información y elijas tu forma de pago.</p>

		<div class="uk-grid uk-grid-match uk-grid-medium uk-child-width-1-2@m uk-child-width-1-1@s">
			<div class="item uk-margin">
				<input type="text" class="uk-input" name="name" id="name" placeholder="Nombre" formControlName="name" />

				<div *ngIf="name.invalid && (name.dirty || name.touched)" class="uk-form-danger alert alert-danger">
					<div *ngIf="name.errors.required">El campo nombre es requerido.</div>
				</div>
			</div>

			<div class="item uk-margin">
				<input type="text" class="uk-input" name="lastName" id="lastName" placeholder="Apellidos" formControlName="lastName" />
				<div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="uk-form-danger alert alert-danger">
					<div *ngIf="lastName.errors.required">El campo apellidos es requerido.</div>
				</div>
			</div>

			<div class="item uk-margin">
				<input type="email" class="uk-input" name="email" id="email" placeholder="Email" formControlName="email" />

				<div *ngIf="email.invalid && (email.dirty || email.touched)" class="uk-form-danger alert alert-danger">
					<div *ngIf="email.errors.required">El campo Email es requerido.</div>
				</div>
			</div>

			<div class="item uk-margin">
				<input type="text" class="uk-input" placeholder="Teléfono" formControlName="phone" formControlName="phone" />

				<div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="uk-form-danger alert alert-danger">
					<div *ngIf="phone.errors.required">El campo Teléfono es requerido.</div>
				</div>
			</div>
		</div>

		<h3>Datos de mi IMO</h3>
		<div class="uk-grid uk-grid-match uk-grid-medium uk-child-width-1-2@m uk-child-width-1-1@s">
			<div class="item uk-margin">
				<input type="text" class="uk-input" name="imoName" id="imoName" placeholder="Nombre" formControlName="imoName" />

				<div *ngIf="imoName.invalid && (imoName.dirty || imoName.touched)" class="uk-form-danger alert alert-danger">
					<div *ngIf="imoName.errors.required">El campo nombre es requerido.</div>
				</div>
			</div>

			<div class="item uk-margin">
				<input
					type="text"
					class="uk-input"
					name="imoLastName"
					id="imoLastName"
					placeholder="Apellidos"
					formControlName="imoLastName"
				/>
				<div *ngIf="imoLastName.invalid && (imoLastName.dirty || imoLastName.touched)" class="uk-form-danger alert alert-danger">
					<div *ngIf="imoLastName.errors.required">El campo apellidos es requerido.</div>
				</div>
			</div>

			<div class="item uk-margin">
				<input type="email" class="uk-input" name="imoEmail" id="imoEmail" placeholder="Email" formControlName="imoEmail" />

				<div *ngIf="imoEmail.invalid && (imoEmail.dirty || imoEmail.touched)" class="uk-form-danger alert alert-danger">
					<div *ngIf="imoEmail.errors.required">El campo Email es requerido.</div>
				</div>
			</div>

			<div class="item uk-margin">
				<input type="text" class="uk-input" placeholder="Teléfono" formControlName="imoPhone" formControlName="imoPhone" />

				<div *ngIf="imoPhone.invalid && (imoPhone.dirty || imoPhone.touched)" class="uk-form-danger alert alert-danger">
					<div *ngIf="imoPhone.errors.required">El campo Teléfono es requerido.</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<h3>Forma de Pago</h3>
		<p>
			El entrenamiento tiene un costo de ${{ course?.price }}.00 MXN
			<br />
			Si cuentas con algún descuento especial, es importante que realices tu pago en oficinas.
		</p>
		<div class="clearfix"></div>
		<div class="full-width radio-list">
			<div class="radio-list-item">
				<label for="office" (click)="selectPaymentType($event, office)"
					><input
						(click)="selectPaymentType($event, office)"
						type="radio"
						class="uk-radio"
						name="paymentType"
						formControlName="paymentType"
						value="office"
						id="office"
						checked="true"
						#office
					/>
					En Oficina</label
				>
				<div class="payment-description" [ngClass]="{ active: paymentType.value === 'office' }">
					<p>{{ paymentDescription }}</p>
				</div>
			</div>
			<div class="radio-list-item">
				<label for="transfer" (click)="selectPaymentType($event, transfer)"
					><input
						(click)="selectPaymentType($event, transfer)"
						type="radio"
						class="uk-radio"
						name="paymentType"
						formControlName="paymentType"
						value="transfer"
						id="transfer"
						#transfer
					/>
					Transferencia / Depósito Bancario</label
				>
				<div class="payment-description transfer" [ngClass]="{ active: paymentType.value === 'transfer' }">
					<div [innerHTML]="paymentDescription"></div>
				</div>
			</div>
			<div class="radio-list-item">
				<label for="paypal" (click)="selectPaymentType($event, paypal)"
					><input
						(click)="selectPaymentType($event, paypal)"
						type="radio"
						class="uk-radio"
						name="paymentType"
						formControlName="paymentType"
						value="paypal"
						id="paypal"
						#paypal
					/>
					Pagar en línea con tarjeta de Crédito, Débito, Mercado Pago ó Paypal</label
				>
				<div class="payment-description paypal" [ngClass]="{ active: paymentType.value === 'paypal' }">
					<p>{{ paymentDescription }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="terms-and-conditions">
		<label for="terms"
			><input type="checkbox" class="uk-checkbox" formControlName="isTermsAccepted" name="terms" id="terms" #terms /> Acepto los
			términos y condiciones de uso y privacidad.</label
		>
	</div>

	<div>
		<p class="info">
			Una vez que envíes este formulario, te llegará un correo de confirmación con un enlace para completar la información de tu
			registro.
		</p>
	</div>

	<re-captcha
		formControlName="captchaToken"
		name="captchaToken"
		required
		class="captcha-field right"
		siteKey="{{ captchaKey }}"
	></re-captcha>

	<div class="clearfix"></div>
	<div class="buttons-container">
		<ngx-paypal [config]="paypalConfig" *ngIf="isPaypalSelected && submitForm.valid"></ngx-paypal>
		<p class="info warning" *ngIf="isPaypalSelected && !submitForm.valid">
			Debes completar el formulario para ver las opciones de pago con Paypal.
		</p>
		<button
			type="submit"
			class="uk-button uk-button-default"
			[disabled]="!submitForm.valid"
			(click)="submitRequest()"
			*ngIf="!isPaypalSelected"
		>
			Registrarme ahora
		</button>
	</div>
</form>
