<form #requestForm id="contactForm">
	<div class="uk-grid uk-grid-match uk-grid-medium uk-child-width-1-2@m uk-child-width-1-1@s">
		<div class="item uk-margin uk-full-width">
			<h4>Programa</h4>
		</div>
		<div class="item uk-margin uk-full-width">
			<label>Programa</label><br />

			<input type="text" class="uk-input" name="subject" id="subject" placeholder="Asunto" disabled value="Entrenamiento" />
		</div>
		<div class="item uk-margin">
			<label>Número del Programa</label><br />

			<input type="number" class="uk-input" name="courseNumber" id="courseNumber" placeholder="Número del Programa" min="15" />
		</div>
		<div class="item uk-margin">
			<label>Fecha del Programa</label><br />

			<input type="date" class="uk-input" name="courseDate" id="courseDate" placeholder="Fecha del Programa" />
		</div>
		<div class="item uk-margin">
			<label>¿Quién te recomendó?</label><br />

			<input type="text" class="uk-input" placeholder="IMO" formControlName="imo" formControlName="imo" />

			<!-- <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="phone.errors.required">El campo Teléfono es requerido.</div>
			</div> -->
		</div>
		<div class="item uk-margin">
			<label>Costo del Programa</label><br />

			<input type="text" class="uk-input" placeholder="Costo" formControlName="imo" formControlName="imo" />

			<!-- <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="phone.errors.required">El campo Teléfono es requerido.</div>
			</div> -->
		</div>
		<div class="item uk-margin uk-full-width">
			<h4>Datos personales</h4>
		</div>

		<div class="item uk-margin">
			<label>Nombre</label><br />

			<input type="text" class="uk-input" name="name" id="name" placeholder="Nombre" formControlName="name" />

			<!-- <div *ngIf="name.invalid && (name.dirty || name.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="name.errors.required">El campo nombre es requerido.</div>
			</div> -->
		</div>

		<div class="item uk-margin">
			<label>Apellidos</label><br />

			<input type="text" class="uk-input" name="lastName" id="lastName" placeholder="Apellidos" formControlName="lastName" />
			<!-- <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="lastName.errors.required">El campo apellidos es requerido.</div>
			</div> -->
		</div>

		<div class="item uk-margin uk-full-width">
			<label>Cómo prefiero que me llamen</label><br />

			<input
				type="text"
				class="uk-input"
				name="nickName"
				id="nickName"
				placeholder="Cómo prefiero que me llamen"
				formControlName="lastName"
			/>
			<!-- <div *ngIf="nickName.invalid && (nickName.dirty || nickName.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="lastName.errors.required">El campo apellidos es requerido.</div>
			</div> -->
		</div>

		<div class="item uk-margin">
			<label>Fecha de Nacimiento</label><br />

			<input type="date" class="uk-input" name="birthDate" id="birthDate" placeholder="Fecha de Nacimiento" />
		</div>

		<div class="item uk-margin">
			<label>Edad</label><br />

			<input type="text" class="uk-input" name="age" id="age" placeholder="Edad" />
		</div>

		<div class="item uk-margin">
			<label>Género</label><br />
			<select name="gender" id="gender" class="uk-select uk-input">
				<option value="" disabled selected>Género</option>
				<option value="f">Femenino</option>
				<option value="m">Masculino</option>
			</select>
		</div>

		<div class="item uk-margin">
			<label>Estado Civil</label><br />
			<select name="civilStatus" id="civilStatus" class="uk-select uk-input">
				<option value="" disabled selected>Estado Civil</option>
				<option value="single">Soltero</option>
				<option value="married">Casado</option>
				<option value="divorced">Separado / Divorciado</option>
				<option value="widow">Viudo (a)</option>
			</select>
		</div>

		<div class="item uk-margin uk-full-width">
			<label>Hijos (en caso afirmativo, agregar sus edades)</label><br />

			<input type="text" class="uk-input" name="age" id="age" placeholder="Hijos" />
		</div>

		<div class="item uk-margin uk-full-width">
			<h4>Datos de Contacto</h4>
		</div>

		<div class="item uk-margin">
			<label>Dirección</label><br />

			<input type="text" class="uk-input" name="address1" id="address1" placeholder="Dirección" formControlName="Address" />

			<!-- <div *ngIf="email.invalid && (email.dirty || email.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="email.errors.required">El campo Email es requerido.</div>
			</div> -->
		</div>

		<div class="item uk-margin">
			<label>Estado</label><br />

			<input type="text" class="uk-input" name="address1" id="address1" placeholder="Estado" formControlName="state" />

			<!-- <div *ngIf="email.invalid && (email.dirty || email.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="email.errors.required">El campo Email es requerido.</div>
			</div> -->
		</div>

		<div class="item uk-margin">
			<label>Teléfono de Casa</label><br />

			<input type="text" class="uk-input" placeholder="Teléfono" formControlName="phone" formControlName="phone" />

			<!-- <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="phone.errors.required">El campo Teléfono es requerido.</div>
			</div> -->
		</div>

		<div class="item uk-margin">
			<label>Teléfono Celular</label><br />

			<input type="text" class="uk-input" placeholder="Celular" formControlName="phone" formControlName="phone" />

			<!-- <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="phone.errors.required">El campo Teléfono es requerido.</div>
			</div> -->
		</div>

		<div class="item uk-margin uk-full-width">
			<label>Email</label><br />

			<input type="email" class="uk-input" name="email" id="email" placeholder="Email" formControlName="email" />

			<!-- <div *ngIf="email.invalid && (email.dirty || email.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="email.errors.required">El campo Email es requerido.</div>
			</div> -->
		</div>

		<div class="item uk-margin uk-full-width">
			<h5>Nombre y número telefónico de 2 contactos (mínimo) en caso de alguna necesidad.</h5>
		</div>

		<div class="item uk-margin">
			<label>Perfona de Contacto 1</label><br />

			<input type="text" class="uk-input" placeholder="Nombre y Teléfono" formControlName="phone" formControlName="phone" />

			<!-- <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="phone.errors.required">El campo Teléfono es requerido.</div>
			</div> -->
		</div>

		<div class="item uk-margin">
			<label>Perfona de Contacto 2</label><br />

			<input type="text" class="uk-input" placeholder="Nombre y Teléfono" formControlName="phone" formControlName="phone" />

			<!-- <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="phone.errors.required">El campo Teléfono es requerido.</div>
			</div> -->
		</div>

		<div class="item uk-margin uk-full-width">
			<h4>Profesión</h4>
		</div>

		<div class="item uk-margin">
			<label>¿A qué te dedicas?</label><br />

			<input type="text" class="uk-input" placeholder="Profesión" formControlName="phone" formControlName="phone" />

			<!-- <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="phone.errors.required">El campo Teléfono es requerido.</div>
			</div> -->
		</div>

		<div class="item uk-margin">
			<label>Empresa</label><br />

			<input type="text" class="uk-input" placeholder="Celular" formControlName="phone" formControlName="phone" />

			<!-- <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="phone.errors.required">El campo Teléfono es requerido.</div>
			</div> -->
		</div>

		<div class="item uk-margin uk-full-width">
			<h4>Objetivos</h4>
			<h5>
				Indica de forma específica tres compromisos genuinos que deseas lograr para tu vida a través de tu participación en el
				programa.
			</h5>
		</div>

		<div class="item uk-margin uk-full-width">
			<label>Objetivo 1</label><br /><br />

			<input type="text" class="uk-input" name="goal1" id="goal1" placeholder="Objetivo" formControlName="goal1" />

			<!-- <div *ngIf="email.invalid && (email.dirty || email.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="email.errors.required">El campo Email es requerido.</div>
			</div> -->
		</div>

		<div class="item uk-margin uk-full-width">
			<label>Objetivo 2</label><br /><br />

			<input type="text" class="uk-input" name="goal1" id="goal1" placeholder="Objetivo" formControlName="goal1" />

			<!-- <div *ngIf="email.invalid && (email.dirty || email.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="email.errors.required">El campo Email es requerido.</div>
			</div> -->
		</div>

		<div class="item uk-margin uk-full-width">
			<label>Objetivo 3</label><br /><br />

			<input type="text" class="uk-input" name="goal1" id="goal1" placeholder="Objetivo" formControlName="goal1" />

			<!-- <div *ngIf="email.invalid && (email.dirty || email.touched)" class="uk-form-danger alert alert-danger">
				<div *ngIf="email.errors.required">El campo Email es requerido.</div>
			</div> -->
		</div>
	</div>

	<re-captcha formControlName="captcha" name="captcha" required siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU"></re-captcha>
</form>
